---
layout: default
title: "resume"
---

<div class="container my-5 text-white">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4">Xana Rodriguez</h1>
        <p class="lead">Software Engineer</p>
        <p>+34 634 221 572 | <a href="mailto:xana.rodriguez.carrion@gmail.com" class="text-white">xana.rodriguez.carrion@gmail.com</a> | <a href="https://www.linkedin.com/in/xana-rodr%C3%ADguez-72b6a0a6/" class="text-white">LinkedIn</a></p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <h2>Summary</h2>
        <p>Experienced Software Developer in intelligent process automation, digitalization, project oversight, and client interaction. Currently taking courses in Python, JavaScript, SQL, and AWS cloud to develop my career in Data Engineering.</p>
      </div>

      <div class="col-12 mt-5">
        <h2>Experience</h2>

        <h4>Mecalux Software Solutions, Gijón - Operations Engineer</h4>
        <p><strong>March 2024 – Present</strong></p>
        <ul>
          <li>Implementation of Warehouse Management System of MSS.</li>
          <li>Development of functionalities and optimization.</li>
          <li>On-site deployment and troubleshooting.</li>
        </ul>

        <h4>Lithe IT, Glasgow, Scotland - Software Developer</h4>
        <p><strong>August 2015 – April 2019</strong></p>
        <ul>
          <li>Contributed to large-scale intelligent process automation projects.</li>
          <li>Managed project requirements and deadlines.</li>
          <li>Client interaction and troubleshooting.</li>
        </ul>

        <h4>Itea SA, Gijón - Junior Web Developer Internship</h4>
        <p><strong>June 2013 – September 2013</strong></p>
        <ul>
          <li>Gained experience in web development and debugging.</li>
        </ul>
      </div>

      <div class="col-12 mt-5">
        <h2>Education</h2>

        <h4>UOC Universitat Oberta de Catalunya - Bachelors in Computing Engineering</h4>
        <p><strong>June 2019 – Present</strong></p>

        <h4>CIFP La Laboral Gijón - Higher National Diploma in Web Development</h4>
        <p><strong>September 2011 – June 2013</strong></p>
      </div>

      <div class="col-12 mt-5">
        <h2>Training & Courses</h2>
        <ul>
          <li>Introduction to Cloud Computing on AWS</li>
          <li>Linux Mastery: command line and task automation</li>
          <li>Git & GitHub: Practical guide, Udemy</li>
        </ul>
      </div>

      <div class="col-12 mt-5">
        <h2>Languages</h2>
        <p>English, Spanish</p>
      </div>
    </div>
</div>
